{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block content %}

    <main>
        <div>
            <h1>My Tasks</h1>
            {% if tasks.all.count == 0 %}
                <p>You have no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    <tbody>
                        {% for task in tasks.all %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno:"yes,no,maybe" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
            {% endif %}


{% endblock content %}
